:root {
    --content-max-width: 1024px;
    --mono-font: 'SF Mono', 'Roboto Mono', 'JetBrains Mono', Menlo, Consolas, 'Liberation Mono', monospace;
    --code-font-size: 0.9em;
    font-variant-ligatures: none;
    font-family: 'PingFang SC', Inter, Roboto, 'Microsoft YaHei', sans-serif;
}

body {
    font-size: 1.7rem;
}

.light {
    --fg: #333;
    --sidebar-fg: #333;
}
